In [2]:
# Bibliotecas
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Lendo o arquivo 
df_renda = pd.read_excel('Dados_Pib.xlsx')

df_renda.head()

  Territorialidades   Ano  PIB per capita
0            Brasil  2013           22.20
1              Acre  2013           12.37
2           Alagoas  2013            9.45
3             Amapá  2013           14.53
4          Amazonas  2013           18.25

In [6]:
df_renda.groupby(by=['Territorialidades','Ano']).mean()

                        PIB per capita
Territorialidades Ano
Acre              2013           12.37
                  2014           13.41
                  2015           12.24
                  2016           11.18
Alagoas           2013            9.45
...                                ...
São Paulo         2016           30.24
Tocantins         2013           13.47
                  2014           13.77
                  2015           13.79
                  2016           13.68

[112 rows x 1 columns]